@{
    ViewBag.Title = "Home Page";
}

<div id="chat-area">
    <ul id="messages">
    </ul>
    <ul id="users">
    </ul>
    <div class="clear"></div>
    <form id="send-message" action="#">
        <input type="text" id="new-message" />
        <input type="submit" id="send" value="Send" class="send" />
    </form>
</div>
@section scripts {
    <script src="~/Scripts/jQuery.cookie.js"></script>
    <script src="~/Scripts/jQuery.tmpl.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>
}